{
  "parser": "babel-eslint",
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "extends": [
        "airbnb-typescript"
      ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {"project": "./tsconfig.json"},
      "rules": {
        "import/named": "off",
        "no-unused-vars": "off",
        "import/export": "off",
        "import/no-extraneous-dependencies": [
          "warn",
          {
            "devDependencies": [
              "**/**.stories.tsx",
              "**/.storybook/**/*.*"
            ],
            "peerDependencies": true
          }
        ]
      }
    }
  ],
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "18"
    }
  },
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        ".d.ts": "never",
        "tsx": "never"
      }
    ],
    "no-underscore-dangle": 0,
    "react/jsx-props-no-spreading": 0,
    "react/prefer-stateless-function": 0,
    "react/react-in-jsx-scope": 0,
    "react/jsx-fragments": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".ts",
          ".tsx",
          ".jsx"
        ]
      }
    ],
    "react/function-component-definition": 0,
    "no-restricted-exports": 0,
    "import/prefer-default-export": "off"
  }
}
