# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
node_modules
/.pnp
.pnp.js

# production
/build
/dist
/coverage

# misc
.DS_Store
.env*

npm-debug.log*

# IDE
.idea

# lock
/example/package-lock.json

stats.html
.local-pack

# Storybook
/storybook-static
