.select-search-options {
    background-color: var(--w);
    box-shadow: 0px 0px 10px var(--g300);
    position: absolute;
    z-index: 10;
    width: 100%;
    max-height: 32vh;
    overflow: scroll;
    display: none;
}

.select-search-options__visible {
    display: inherit;
}

.select-search-option__disabled,
.select-search-option {
    padding: 8px 16px;
    color: var(--bf500);
}

.select-search-option {
    cursor: pointer;
}

.select-search-option:hover {
    background-color: var(--block-color-hover);
}
