.select-search-input {
    position: relative;
}

.select-search-options {
    background-color: var(--white-1000);
    box-shadow: 0px 0px 10px var(--grey-925);
    position: absolute;
    z-index: 10;
    width: 100%;
    max-height: 32vh;
    overflow: scroll;
    display: none;
}

.select-search-options__visible {
    display: inherit;
}

.select-search-option__disabled,
.select-search-option {
    padding: 8px 16px;
}

.select-search-option {
    cursor: pointer;
}

.select-search-option__selected,
.select-search-option:hover {
}

.select-search-option__disabled {
    cursor: not-allowed;
    color: var(--grey-850);
}

.select-search-option__disabled:hover {
    background-color: transparent;
}
