/* ------------------------------------ *\
  STRUCTURE
\* ------------------------------------ */

html, body, #root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}
.page {
    flex: 1 0 auto;
}
.fr-footer {
    flex-shrink: 0;
}

/* ------------------------------------ *\
  HELPER
\* ------------------------------------ */
.ds-fr--no-shadow {
    box-shadow: none;
}

/* ------------------------------------ *\
  ALIGNMENT
\* ------------------------------------ */

a.ds-fr--inline {
    display: inline;
}

a.ds-fr--flex {
    display: flex;
}

.ds-fr--inline-block {
    display: inline-block;
}

.ds-fr--v-top {
    vertical-align: text-top;
}

span.ds-fr--v-middle {
    vertical-align: middle;
}

span.ds-fr--v-sub {
    vertical-align: sub;
}

span.ds-fr--v-top {
    vertical-align: top;
}

.ds-fr--border-bottom {
    border-bottom: 1px solid var(--grey-850);
    margin-bottom: 1rem;
}

.fr-pagination__link {
    color: var(--text-default-grey);
}

.fr-footer__partners-sub {
  margin-bottom: 1rem;
}

@media (min-width: 36em) {
  .fr-footer__partners-logos,
  .fr-footer__partners-sub > ul {
    align-items: flex-end;
  }
}

/**
Colored Components
 */

.ds-fr-checkbox .fr-form-group input[type=checkbox]:active + label:before,
.ds-fr-checkbox .fr-form-group input[type=checkbox]:checked + label:before,
.ds-fr-checkbox .fr-checkbox-group input[type=checkbox]:active:not(:disabled) + label:before,
.ds-fr-checkbox .fr-checkbox-group input[type=checkbox]:checked + label:before {
    background-color: var(--checkbox-color1);
    color: var(--checkbox-color2);
}

.ds-fr-toggle .fr-toggle__label:after {
    color: var(--toggle-color);
    border-color: var(--toggle-color);
}

.ds-fr-toggle .fr-toggle__label:before {
    color: var(--toggle-color);
}

.ds-fr-toggle.fr-toggle__input,
.ds-fr-toggle.fr-toggle input[type=checkbox],
.ds-fr-toggle.fr-toggle label:after {
    box-shadow: inset 0 0 0 1px var(--toggle-color);
}

.ds-fr-toggle .fr-toggle__input:checked,
.ds-fr-toggle.fr-toggle input[type=checkbox]:checked {
    color: var(--toggle-color);
    background-color: var(--toggle-color);
}

/**
 Card
 */

.ds-fr-card-icon {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: var(--text-action-high-blue-france);
}

/**
 Tag
 */

.ds-fr-tag-icon {
    position: absolute;
    top: -1px;
    right: -15px;
    color: var(--text-action-high-blue-france);
}

