/*
Fix DSFR issue
https://gouvfr.atlassian.net/servicedesk/customer/portal/1/DSFR-322
*/
.fr-tabs__panel:not(.fr-tabs__panel--selected) {
    display: none;
}

span.error {
    color: var(--error-main-525);
}

.fr-table thead th.sortable {
    cursor: pointer;
}

/** reset icon url */
.fr-download__link:after,
.fr-card:before,
.fr-tag--dismiss:after,
.fr-badge:before {
    display: none !important;
}

/**
  Accordion
 */
button.fr-accordion__btn:before {
    font-family: "remixicon";
    content: '\ea13';
    background-color: inherit;
    mask-image: inherit;
    -webkit-mask-image: inherit;
    color: var(--text-action-high-grey);
}

button.fr-accordion__btn[aria-expanded=true]:before {
    content: '\f1af';
    mask-image: inherit;
    -webkit-mask-image: inherit;
}

/**
  Alert
 */

[class^="fr-alert"]:before {
    font-family: "remixicon";
    background-color: inherit;
    mask-image: inherit;
    -webkit-mask-image: inherit;
    font-size: 1.4rem;
}

.fr-alert--success:before {
    content: '\eb80';
}

.fr-alert--error:before {
    content: '\f0eb';
}

.fr-alert--info:before {
    content: '\ee58';
}

.fr-alert .fr-link--close:before{
    font-family: "remixicon";
    content: '\eb99';
    background-color: inherit;
    mask-image: inherit;
    -webkit-mask-image: inherit;
}


