/*
Fix DSFR issue
https://gouvfr.atlassian.net/servicedesk/customer/portal/1/DSFR-322
*/
.fr-tabs__panel:not(.fr-tabs__panel--selected) {
    display: none;
}

span.error {
    color: var(--error-main-525);
}

.fr-table thead th.sortable {
    cursor: pointer;
}

/** reset icon url */
.fr-download__link:after,
.fr-card:before,
.fr-badge:before {
    display: none;
}
